@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.content-card {
  padding: pxToRem(24);
  border: 1px solid $color-gray-light;
  border-radius: $border-radius-md;
  background: $color-white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  &__icon {
  }
  &__title {
    margin: pxToRem(16) 0 pxToRem(32) 0;
  }
  &__description {
    color: $color-gray-dark;
    margin: 0 0 pxToRem(38) 0;
  }
  &__button {
    margin-top: auto;
  }
}
