@use "../../styles/variables" as *;

.secondarybutton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: $border-radius-md;
  font-weight: 600;
  border: 1px solid $color-white;
  cursor: pointer;
  &--primary {
    background-color: $color-white;
    color: $color-indigo;
    &:hover {
      background: $color-white;
      box-shadow: 0px 0px 0px 1px $color-white inset,
        0px 0px 0px 3px $color-indigo inset;
    }
    &:active {
      background: $color-indigo-dark;
    }
    &:visited {
      color: $color-indigo;
    }
  }

  &:disabled {
    color: $color-gray-dark;
    background-color: $color-gray-light;
    border: 1px solid $color-gray;
  }
}
