$primary-font: "Inter", sans-serif;

$border-radius-md: 8px;

$max-width-md: 1045px;
$max-width-lg: 1440px;

$color-white: #fff;
$color-off-white: #fafafa;
$color-charcoal: #1e1e1e;
$color-indigo-light: #e1e6ff;
$color-indigo-lighter: #6d7fe5;
$color-indigo: #566ad9;
$color-indigo-medium: #4056ce;
$color-indigo-dark: #2f44b7;
$color-gray-light: #d9d9d9;
$color-gray: #ececec;
$color-gray-medium: #b3b3b3;
$color-gray-dark: #757575;
$color-red: #ec221f;
$max-width-md: 1045px;
