@use "../../styles/variables" as *;

.radio-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: $border-radius-md;
  font-weight: 600;
  border: 1px solid $color-indigo;
  cursor: pointer;
  margin-right: 0.5rem;
  position: relative;
  transition: all 0.2s ease;

  &__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__label {
    pointer-events: none;
  }

  &--primary {
    background-color: $color-indigo;
    color: $color-white;

    &:hover {
      background: $color-indigo;
      box-shadow: 0px 0px 0px 1px $color-indigo inset,
        0px 0px 0px 3px $color-white inset;
    }

    &:active {
      background: $color-indigo-dark;
    }
  }

  &--secondary {
    background-color: $color-white;
    color: $color-indigo;
    border: 1px solid $color-indigo;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 0px 1px $color-white inset,
        0px 0px 0px 1px $color-indigo inset, 0px 0px 0px 3px $color-indigo inset;
    }

    &:active {
      border: 1px solid $color-indigo-dark;
      background: $color-indigo-light;
    }
  }

  &:disabled {
    color: $color-gray-dark;
    background-color: $color-gray-light;
    border: 1px solid $color-gray;
  }
}
