@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.page-header {
  background: linear-gradient(0deg, #3649b1 1.4%, $color-indigo 98.28%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: pxToRem(12);
  flex-shrink: 0;
  padding: pxToRem(48);
  @include tablet {
    padding: pxToRem(48) pxToRem(108);
  }

  &__title {
    color: $color-white;
    text-align: center;
    font-size: pxToRem(48);
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: pxToRem(12);
  }
  &__subtitle {
    color: $color-indigo-light;
    text-align: center;
    font-size: pxToRem(24);
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: pxToRem(-0.48);
    margin-top: pxToRem(16);
  }
}
