@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.manage-events {
  &__wrapper {
    max-width: $max-width-md;
    padding: 0 pxToRem(16);
    margin: pxToRem(93) auto 0 auto;
  }
  &__button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: pxToRem(27);
  }
  &__form {
  }
  &__input-wrapper {
    display: flex;
    justify-content: center;
  }
  &__form-field {
    margin: 0;
  }
  &__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: pxToRem(16);
  }
  &__item {
    width: 100%;
    display: flex;
    @include tablet {
      width: calc(50% - pxToRem(16));
    }
    @include desktop {
      width: calc(33.333% - pxToRem(16));
    }
  }
  &__error {
    text-align: center;
    color: $color-white;
    padding: pxToRem(12) pxToRem(16);
    border-radius: $border-radius-md;
    margin-top: pxToRem(16);
    font-weight: 500;
  }
  &__empty-state {
    text-align: center;
    font-size: pxToRem(24);
    font-weight: 600;
    color: $color-charcoal;
    margin: pxToRem(48) auto;
    padding: pxToRem(32);
    background-color: $color-white;
    border-radius: $border-radius-md;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}
